<div *ngIf="canEdit() && !!currentEvent" class="main-edit">
  <div id="formHTML">
    <h3> Edit event</h3>
    <div [formGroup]="form">
      <input class="input" hidden formControlName="id">
      <mat-form-field>
        <input matInput placeholder="Event Title" formControlName="title">
      </mat-form-field><br />
      <mat-form-field>
        <textarea  matInput placeholder="Event Description" formControlName="description"></textarea>
      </mat-form-field><br />
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Event Start Date" formControlName="date_start">
<!--        <app-datepicker [placeholder]="'Дата начала'"></app-datepicker>-->
      </mat-form-field><br />
      <mat-form-field>
        <input matInput type="datetime-local" placeholder="Event End Date" formControlName="date_end">
      </mat-form-field><br />
      <mat-form-field>
        <input matInput placeholder="Event source url" formControlName="source_uri">
      </mat-form-field><br />
      <mat-form-field>
        <mat-select placeholder="Choose event type" formControlName="type">
          <!--(selectionChange)="onNewTypeSelect($event)">-->
          <mat-option *ngFor="let type of typeList" [value]="type.type">{{type.type}}</mat-option>
        </mat-select>
      </mat-form-field><br />
      <mat-form-field>
        <input matInput placeholder="Name Location" formControlName="name_location">
      </mat-form-field>
    </div>
  </div>
  <div #map id="map">
    <app-map (markerPlaced)="onMarkerPlaced($event)" [currentMarker]="marker"></app-map>
  </div>
  <div id="buttons">
    <button mat-raised-button (click)="goBack()">Cancel</button>
    <button mat-raised-button mat-primary [disabled]="!form.valid" (click)="save()">Save</button>
    <button mat-raised-button *ngIf="currentEvent.id" (click)="delete()">Delete</button>
  </div>
</div>
<div *ngIf="!canEdit()">
  <span>You are not allowed to edit this event</span>
</div>
