mat-toolbar{
    background: rgba(106, 131, 241, 0.116);

    .title{
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-left: 50px;
        font-size: 24px;
    }
    .title:hover{
        cursor: pointer;
    }

    .active-link{
        background: rgba(192, 160, 216, 0.493);
        border-radius: 10px;
    }

    a{
        color: azure;
    }

    .logBT{
        position: relative;
        right: 0;
        margin-left: 10px;
    }

    app-login{
        margin-left: auto;
    }

  .username-holder{
    margin-left: auto;
  }

  .username{
    cursor: pointer;
    text-decoration: underline;
  }
}

