<div id="login">
    Login
    <form>
      <mat-form-field>
        <input matInput placeholder="Enter your email" type="email" name="email" required >
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Enter your password" type="password" name="password" required >
        <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field><br>
    </form>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <button mat-button (click)="register()">Register</button>
</div>