div.eventlist{
  display: flex;
  flex-direction: column;
    height: 100%;
  //max-height: 100%;
    width: 100%;
  //overflow: hidden;

    box-shadow: 0 0 10px rgba(0,0,0, 0.5);

    background: white;

    .header{
      font-size: 12pt;
      font-weight: bold;
      margin-left: 15px;
    }

    mat-paginator{
        width: 100%;
        bottom: 0;
    }
}

.clear-filter{
  margin-left: auto;
}

.cards {
  flex-grow: 1;
  //height: 100%;
  overflow-y: auto;
}

.card {
  cursor: pointer;
}

mat-card.my-style {
  border-radius: 0 !important;
  padding: 7px !important;
}

.my-style .mat-card-subtitle {
  margin-bottom: 10px;
}

.my-style .mat-card-title {
  font-size: 18px;
}

.my-style .mat-card-avatar {
  height: 50px;
  width: 50px;
  border-radius: 20%;
}

