// div.eventlist{
//     display: inline-block;
//     height: 400px;
//     width: 200px;
//     border: 1px solid black;
//     float: left;
// }

// button{
//     display: block;
//     width: 150px;
//     margin: 15px;
// }
div.eventlist{
    display: block;
    position: absolute;
    height: 841px;

    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);

    right: -1920px;

    table{
        width: 420px;
        min-width: 300px;
    }
    mat-paginator{
        width: 420px;
        min-width: 300px;

        position: absolute;

        bottom: 0;
    }
}