// div.eventlist{
//     display: inline-block;
//     height: 400px;
//     width: 200px;
//     border: 1px solid black;
//     float: left;
// }

// button{
//     display: block;
//     width: 150px;
//     margin: 15px;
// }

div.eventlist{
    display: block;
    height: 100%;
    width: 100%;

    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5);

    background: white;

    table{
        width: 100%;
    }

    .header{
        font-size: 12pt;
    }

    mat-paginator{
        width: 100%;
        bottom: 0;
    }
}

.link{
    font-variant: all-petite-caps;
    text-decoration: underline;
    font-size: 14pt;

    &:hover{
        cursor: pointer;
    }
}