<div *ngIf="Events" class="eventlist">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="redirect">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let event"> {{event.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let event"> {{event.type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="resource_uri">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let event"> 
        <a href="{{event.source_uri}}"> {{event.source_uri}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="header"> Events </th>
        <td mat-cell *matCellDef="let event"> 
          <span routerLink="{{event.id}}" class="link"> {{ event.title }} </span>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 2, 5]" showFirstLastButtons></mat-paginator>
</div>