<div class="eventlist">
  <table mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let event"> {{event.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let event"> {{event.type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let event"> 
        <a href="{{event.link}}"> {{event.link}} </a> </td>
    </ng-container>

    <ng-container matColumnDef="redirect">
        <th mat-header-cell *matHeaderCellDef> Open page </th>
        <td mat-cell *matCellDef="let event"> 
          <button mat-flat-button (click)="redirectTo(event.id)"> {{ event.name }} </button>
        </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[2, 3, 20]" showFirstLastButtons></mat-paginator>
</div>