div{
    #container{
        width: 100%;
        height: 100%;
    }
    #content{
        height: 815px;
        width: 100%;
        // display: flex;
    }
}

app-footer{
    display: flex;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

app-header{
    display: flex;
    position: relative;
    top: 0px;
    width: 100%;
}

