<div  id="form">
  <h1 mat-dialog-title>Add event</h1>
  <div mat-dialog-content [formGroup]="form">
    <input hidden formControlName="id">
    <mat-form-field>
      <input matInput placeholder="Event Title" formControlName="title">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Event Description" formControlName="description">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Event Start Date" formControlName="date_start">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput type="datetime-local" placeholder="Event End Date" formControlName="date_end">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Event source url" formControlName="source_uri">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Event Type" formControlName="type">
    </mat-form-field><br />
    <mat-form-field>
      <input matInput placeholder="Name Location" formControlName="name_location">
    </mat-form-field>
  </div>
</div>
<div id="map">
  <app-map (markerPlaced)="onMarkerPlaced($event)" [Events]="passEventToMap()"></app-map>
</div>
<div mat-dialog-actions id="buttons">
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button mat-primary [disabled]="!form.valid" (click)="save()">Save</button>
  <button mat-raised-button *ngIf="data.id" [disabled]="!form.valid" (click)="delete()">Delete</button>
</div>
