<div class="map-container" id="map-container">
    <agm-map (mapClick)="onChooseLocation($event); onCreateArea($event)"
                               id="map" 
                               [latitude]="whereToCenter().ltd"
                               [longitude]="whereToCenter().lng"
                               [zoom]='zoom'
                               >
            <ng-container *ngFor="let event of Events">
              <agm-marker *ngIf="event.location"
                          [latitude]="event.location.latitude"
                          [longitude]="event.location.longitude">

                  <agm-snazzy-info-window [latitude]="event.location.latitude"
                                          [longitude]="event.location.longitude">
                      <ng-template class="template">
                          <div [routerLink]="event.id">
                            <img *ngIf="event.image_url" [src]="event.image_url">
                            <span *ngIf="!event.image_url">{{event.title}}</span>
                          </div>
                      </ng-template>
                  </agm-snazzy-info-window>

              </agm-marker>

<!--              <agm-info-window *ngIf="event.location" [latitude]="event.location.latitude" [longitude]="event.location.longitude">-->
<!--                  <div [routerLink]="event.id">-->
<!--                    <img [src]="event.image_url">-->
<!--                    <span>{{event.title}}</span>-->
<!--                  </div>-->
<!--              </agm-info-window>-->
            </ng-container>

            <agm-marker *ngIf="userLocation.latitude != 0 || userLocation.longitude != 0"
                        [latitude]="userLocation.latitude"
                        [longitude]="userLocation.longitude"
                        [iconUrl]="userMarker.url">
                <agm-info-window>
                    <b>Этот маркер - вы</b>
                </agm-info-window>
            </agm-marker>

            <agm-marker *ngIf="currentMarker"
                        [latitude]="currentMarker.latitude"
                        [longitude]="currentMarker.longitude">
                <agm-info-window>
                    Этот маркер поставили вы
                </agm-info-window>
            </agm-marker>

            <agm-circle #coordFilter *ngIf="filter"
                        [latitude]="filterArea.latitude"
                        [longitude]="filterArea.longitude"
                        [radius]="filterArea.radius"
                        [fillColor]="'red'"
                        [circleDraggable]="true"
                        [editable]="true"
                        (radiusChange)="onFilterAreaChange($event)"
                        (centerChange)="onFilterAreaChange($event)">
            </agm-circle>

      <div *ngFor="let ar of areas; let i = index">
                <agm-circle
                  *ngIf="ar.enabled"
                  [latitude]="ar.latitude" [longitude]="ar.longitude" [radius]="ar.radius"
                  [fillColor]="'red'"
                  [circleDraggable]="true"
                  [editable]="true"
                  (radiusChange)="onAreaChange(i, $event)"
                  (centerChange)="onAreaChange(i, $event)"
                  (mouseOver)="overArea(ar, true)"
                  (mouseOut)="overArea(ar, false)">
                </agm-circle>
            </div>
            <!-- <agm-snazzy-info-window [isOpen]="true" [latitude]="51.673858" [longitude]="7.815982" [closeWhenOthersOpen]="true">
                  My first Snazzy Info Window!
              </agm-snazzy-info-window> -->
    </agm-map>
</div>

