<div class="map-container" id="map-container">
    <agm-map (mapClick)="onChooseLocation($event); onCreateArea($event)"
                               id="map" 
                               [latitude]="whereToCenter().ltd"
                               [longitude]="whereToCenter().lng"
                               [zoom]='zoom'
                               >
            <ng-container *ngFor="let event of Events">
<!--              <agm-marker *ngIf="event.location"-->
<!--                          [latitude]="event.location.latitude"-->
<!--                          [longitude]="event.location.longitude">-->

                  <agm-snazzy-info-window [isOpen]="true"
                                          [latitude]="event.location.latitude"
                                          [longitude]="event.location.longitude"
                                          [closeOnMapClick]="false">
                      <ng-template class="template">
                          <div [routerLink]="event.id">
                            <img [src]="event.image_url ? event.image_url : '../../../assets/no_image.png'">
                          </div>
                      </ng-template>
                  </agm-snazzy-info-window>

<!--              </agm-marker>-->

<!--              <agm-info-window *ngIf="event.location" [latitude]="event.location.latitude" [longitude]="event.location.longitude">-->
<!--                  <div [routerLink]="event.id">-->
<!--                    <img [src]="event.image_url">-->
<!--                    <span>{{event.title}}</span>-->
<!--                  </div>-->
<!--              </agm-info-window>-->
            </ng-container>

            <agm-marker *ngIf="userLocation.latitude != 0 || userLocation.longitude != 0"
                        [latitude]="userLocation.latitude"
                        [longitude]="userLocation.longitude"
                        [iconUrl]="userMarker.url">
                <agm-info-window>
                    <b>Этот маркер - вы</b>
                </agm-info-window>
            </agm-marker>

<!--            <agm-marker *ngIf="currentMarker"-->
<!--                        [latitude]="currentMarker.latitude"-->
<!--                        [longitude]="currentMarker.longitude">-->
<!--                <agm-info-window>-->
<!--                    Этот маркер поставили вы-->
<!--                </agm-info-window>-->
<!--            </agm-marker>-->

            <agm-circle #coordFilter *ngIf="filter"
                [latitude]="userLocation.latitude  ? userLocation.latitude  : 51.6720400"
                [longitude]="userLocation.longitude ? userLocation.longitude : 39.1843000"
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
            </agm-circle>

      <div *ngFor="let ar of areas; let i = index">
                <agm-circle
                  *ngIf="ar.enabled"
                  [latitude]="ar.latitude" [longitude]="ar.longitude" [radius]="ar.radius"
                  [fillColor]="'red'"
                  [circleDraggable]="true"
                  [editable]="true"
                  (radiusChange)="onAreaChange(i, $event)"
                  (centerChange)="onAreaChange(i, $event)"
                  (mouseOver)="overArea(ar, true)"
                  (mouseOut)="overArea(ar, false)">
                </agm-circle>
            </div>
            <!-- <agm-snazzy-info-window [isOpen]="true" [latitude]="51.673858" [longitude]="7.815982" [closeWhenOthersOpen]="true">
                  My first Snazzy Info Window!
              </agm-snazzy-info-window> -->
    </agm-map>
</div>

