<div #main id="main" *ngIf="currentEvent">
  <div class="event-info">
    <h2 class="event-title left-text">{{ currentEvent.title }}
      <div class="notifyBT">
        <button *ngIf="!subscribed" (click)="subscribeToEvent()" class="edit-button" mat-button><mat-icon>notifications</mat-icon></button>
        <button *ngIf="subscribed" (click)="unsubscribe()" class="edit-button" mat-button><mat-icon>notifications_off</mat-icon></button>
      </div>
    </h2><button mat-stroked-button class="edit-button" (click)="editRedirect()">Edit</button>

    <span class="event-type left-text">Тип мероприятия: {{ currentEvent.type }}</span>



    <h3 class="location-date left-text">Проводится {{currentEvent.location.name === currentEvent.title ? '' : 'в ' + currentEvent.location.name}}
      {{dateFormat(currentEvent.date_start, currentEvent.date_end)}}</h3>
    <span class="left-text">Координаты: {{currentEvent.location.latitude}}, {{currentEvent.location.longitude}}</span>

    <app-map [center]="'event'" [Events]="getCurrentList()"></app-map>
    <span class="description"><h4>Описание события:</h4><br>{{ currentEvent.description }}</span>
  </div>

  <div class="live-actions">
    <ul *ngIf="!!liveActions.length">
      <li class="action" *ngFor="let action of liveActions">
        {{action}}
      </li>
    </ul>
    <span *ngIf="!liveActions.length" class="live-actions-span">Нет информации о данном событии</span>
  </div>
</div>
