<div id="form">
  <h2>Register</h2>
  <form [formGroup]="registerForm">
      <div>
        <mat-form-field>
          <input type="text" matInput placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        </mat-form-field>
          <div *ngIf="submitted && f.firstName.errors" class="errors">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
      </div>
      <div >
          <mat-form-field>
            <input type="text" matInput placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          </mat-form-field>
          <div *ngIf="submitted && f.lastName.errors" class="errors">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
      </div>
      <div>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          </mat-form-field>
            <div *ngIf="submitted && f.email.errors" class="errors">
              <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
      </div>
      <div>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          </mat-form-field>
          <div *ngIf="submitted && f.password.errors" class="errors">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
      </div>
      <div>
          <mat-form-field>
            <input type="password" matInput placeholder="Repeat password" formControlName="repeatPassword" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }"/>
          </mat-form-field>
          <div *ngIf="submitted && f.repeatPassword.errors" class="errors">
              <div *ngIf="f.repeatPassword.errors.required">Password is required</div>
              <div *ngIf="f.repeatPassword.errors.minlength">Password must be at least 6 characters</div>
              <div *ngIf="f.repeatPassword.errors.MatchPassword"> Passwords mismatch </div>
          </div>
      </div>
      <div>
          <button mat-raised-button [disabled]="loading" (click)="onSubmit()">Register</button>
          <a [routerLink]="['/app/login']">Cancel</a>
      </div>
  </form>
</div>
