/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #EEEEEE;
}

div.cdk-overlay-pane{
    margin-bottom: auto;
    margin-top: auto;
}

div.cdk-overlay-pane{
    width: auto;
}

div.si-content-wrapper{
    width: 75px;
    margin: 0;
}

div.si-frame{
    width: 75px;
    margin: 0;
}

div.si-wrapper-top{
    width: 75px;
    margin: 0;
}

app-event-detail-dialog{
    height: 100%;
    width: 100%;
}

.si-float-wrapper{
    position: absolute;
}

.si-float-wrapper, .si-float-wrapper *{
  box-sizing: content-box;
}
